/* Positioning */
body {
	width: 770px;
	margin: auto;
	font-family: verdana;
}

#header {
	background-color: red;
	height: 120px;
}

#menu {
	background-color: green;
}

#content {
	background-color: blue;
}

#left {
	background-color: yellow;
	float: left;
	width: 510px;
	
	padding: 0px 20px 40px 20px;
}

#right {
	background-color: orange;
	float: left;
	width: 180px;
	
	padding: 0px 20px 40px 20px;
}

#footer {
	background-color: purple;
	clear: both;
}

h1 {
	font-weight: normal;
	color: #3399FF;
	font-family: georgia;
}