/* Positioning */
body {
	width: 770px;
	margin: auto;
	font-family: verdana;
}

#header {
	height: 120px;
	background-image: url(../images/banner.png);
	padding: 2px 0px 0px 10px;
}

#menu {
	background-color: black;
	height: 1.5em;
}

#content {

}

#left {
	background-color: #FFFFFF;
	float: left;
	width: 509px;
	height: 300px;
	padding: 0px 20px 40px 20px;
	border-left: solid black 1px;
}

#right {
	background-color: gray;
	float: left;
	width: 179px;
	height: 300px;
	padding: 0px 20px 40px 20px;
	border-right: solid black 1px;
}

#footer {
	background-color: #FFFFFF;
	color: black;
	clear: both;
	text-align: center;
	border: solid black 1px;
	padding: 10px;
}

h1 {
	font-weight: normal;
	color: #3399FF;
	font-family: georgia;
	text-transform: uppercase;
}

h2 {
	font-weight: normal;
	color: #3399FF;
	font-family: georgia;
}

/* Navigation menu */

#menu a {
	text-decoration: none;
	text-transform: uppercase;
	color: #33CCFF;
	padding-right: 20px;
}

#menu ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}

#menu li {
	display: inline;
}


